<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.cotemig.jose.matheus.moviesandactors">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoviesAndActors">
        <activity android:name=".ui.activities.OfficialGenresActivity"></activity>
        <activity android:name=".ui.activities.AvailableRegionActivity" />
        <activity
            android:name=".ui.activities.EpisodeActivity"
            android:exported="false" />
        <activity
        android:name=".ui.activities.SerieInfoActivity"
        android:exported="false" />
        <activity
            android:name=".ui.activities.SeasonActivity"
            android:exported="false" />
        <activity android:name=".ui.activities.ProviderStreamingActivity" />
        <activity
            android:name=".ui.activities.AtorMovieActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.AtoresActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MovieInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MovieCastActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MoviesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SeriesActivity"
            android:exported="false" />
        <activity android:name=".ui.activities.PersonPopularActivity" />
        <activity android:name=".ui.activities.WelcomeActivity" />
        <activity android:name=".ui.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.RegisterActivity" />
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.MainActivity" />
    </application>

</manifest>